In [203]:
#Running data ingest python notebook

%run 01_data-ingest-cmap.ipynb

### Need to adjust date, lat and lon columns so that they are in the appropriate formates

In [204]:
print(pd.DataFrame(covari))
print('\n')
print(covari.dtypes)
print('\n')

                    date   PopulationName        lat         lon    biomass  \
0    2016-04-20 07:00:00  Prochlorococcus  21.520326 -158.326984  10.520443
1    2016-04-20 07:00:00    Synechococcus  21.520326 -158.326984   0.341429
2    2016-04-20 07:00:00      non_pro_syn  21.520326 -158.326984   3.338212
3    2016-04-20 07:00:00      non_pro_syn  21.520326 -158.326984   0.701902
4    2016-04-20 08:00:00  Prochlorococcus  21.662710 -158.323430   9.309387
...                  ...              ...        ...         ...        ...
6896 2019-04-29 16:00:00      non_pro_syn  23.491830 -158.000200   1.678707
6897 2019-04-29 17:00:00  Prochlorococcus  23.295040 -158.001120   6.017184
6898 2019-04-29 17:00:00    Synechococcus  23.295040 -158.001120   0.558076
6899 2019-04-29 17:00:00      non_pro_syn  23.295040 -158.001120   2.741156
6900 2019-04-29 17:00:00      non_pro_syn  23.295040 -158.001120   1.548825

          salin       temp cruisename        NO3NO2       PO4        Fe  \
0     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
1     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
2     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
3     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
4     34.902376  24.339265    KOK1606  8.033585e-07  0.346238  0.000083
...         ...        ...        ...           ...       ...       ...
6896  35.055113  24.506250     KM1906  5.329380e-07  0.339759  0.000076
6897  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6898  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6899  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6900  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076

           SiO4  Satellite_CHL
0     10.145326       0.035360
1     10.145326       0.035360
2     10.145326       0.035360
3     10.145326       0.035360
4     10.145326       0.035360
...         ...            ...
6896  11.717394       0.033119
6897  11.717394       0.033119
6898  11.717394       0.033119
6899  11.717394       0.033119
6900  11.717394       0.033119

[6901 rows x 13 columns]


date              datetime64[ns]
PopulationName            object
lat                      float64
lon                      float64
biomass                  float64
salin                    float64
temp                     float64
cruisename                object
NO3NO2                   float64
PO4                      float64
Fe                       float64
SiO4                     float64
Satellite_CHL            float64
dtype: object

In [205]:
#Making date object be datetime64
# covari['date'] = pd.to_datetime(covari['date'], errors='coerce')

In [206]:
# covari['Longitude_decimalDegree'] = pd.to_numeric(covari['Longitude_decimalDegree'], errors='coerce')
# covari['Latitude_decimalDegree'] = pd.to_numeric(covari['Latitude_decimalDegree'], errors='coerce')

In [207]:
# print("Lat dtype:", covari['Latitude_decimalDegree'].dtype, '\n',
#       "Lon dtype:", covari['Longitude_decimalDegree'].dtype)

### Need to ajust columns that contain numbers to floats

In [208]:
def ChangeObjectTypes(df):
    for column in df:
        if column == 'date':
            #changing to datetime
            df[column] = pd.to_datetime(df[column], errors='coerce')
            
        elif column == 'PopulationName' or column == 'cruisename':
            #changing to string
            df[column] = df[column].astype(str)
            
        else:
            #changing to numeric type
            df[column] = pd.to_numeric(df[column], errors='coerce')
    return df

In [209]:
ChangeObjectTypes(covari)

,date,PopulationName,lat,lon,biomass,salin,temp,cruisename,NO3NO2,PO4,Fe,SiO4,Satellite_CHL
0,2016-04-20 07:00:00,Prochlorococcus,21.520326,-158.326984,10.520443,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
1,2016-04-20 07:00:00,Synechococcus,21.520326,-158.326984,0.341429,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
2,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,3.338212,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
3,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,0.701902,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
4,2016-04-20 08:00:00,Prochlorococcus,21.662710,-158.323430,9.309387,34.902376,24.339265,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6896,2019-04-29 16:00:00,non_pro_syn,23.491830,-158.000200,1.678707,35.055113,24.506250,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6897,2019-04-29 17:00:00,Prochlorococcus,23.295040,-158.001120,6.017184,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6898,2019-04-29 17:00:00,Synechococcus,23.295040,-158.001120,0.558076,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6899,2019-04-29 17:00:00,non_pro_syn,23.295040,-158.001120,2.741156,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6900,2019-04-29 17:00:00,non_pro_syn,23.295040,-158.001120,1.548825,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119

### Now all of the objects are in the right format

In [210]:
print(pd.DataFrame(covari))
print('\n')
print(covari.dtypes)
print('\n')

                    date   PopulationName        lat         lon    biomass  \
0    2016-04-20 07:00:00  Prochlorococcus  21.520326 -158.326984  10.520443
1    2016-04-20 07:00:00    Synechococcus  21.520326 -158.326984   0.341429
2    2016-04-20 07:00:00      non_pro_syn  21.520326 -158.326984   3.338212
3    2016-04-20 07:00:00      non_pro_syn  21.520326 -158.326984   0.701902
4    2016-04-20 08:00:00  Prochlorococcus  21.662710 -158.323430   9.309387
...                  ...              ...        ...         ...        ...
6896 2019-04-29 16:00:00      non_pro_syn  23.491830 -158.000200   1.678707
6897 2019-04-29 17:00:00  Prochlorococcus  23.295040 -158.001120   6.017184
6898 2019-04-29 17:00:00    Synechococcus  23.295040 -158.001120   0.558076
6899 2019-04-29 17:00:00      non_pro_syn  23.295040 -158.001120   2.741156
6900 2019-04-29 17:00:00      non_pro_syn  23.295040 -158.001120   1.548825

          salin       temp cruisename        NO3NO2       PO4        Fe  \
0     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
1     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
2     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
3     34.893785  24.351745    KOK1606  8.033585e-07  0.346238  0.000083
4     34.902376  24.339265    KOK1606  8.033585e-07  0.346238  0.000083
...         ...        ...        ...           ...       ...       ...
6896  35.055113  24.506250     KM1906  5.329380e-07  0.339759  0.000076
6897  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6898  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6899  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076
6900  35.061772  24.780297     KM1906  5.329380e-07  0.339759  0.000076

           SiO4  Satellite_CHL
0     10.145326       0.035360
1     10.145326       0.035360
2     10.145326       0.035360
3     10.145326       0.035360
4     10.145326       0.035360
...         ...            ...
6896  11.717394       0.033119
6897  11.717394       0.033119
6898  11.717394       0.033119
6899  11.717394       0.033119
6900  11.717394       0.033119

[6901 rows x 13 columns]


date              datetime64[ns]
PopulationName            object
lat                      float64
lon                      float64
biomass                  float64
salin                    float64
temp                     float64
cruisename                object
NO3NO2                   float64
PO4                      float64
Fe                       float64
SiO4                     float64
Satellite_CHL            float64
dtype: object

In [211]:
import matplotlib.pyplot as plt
import pandas as pd

def plot_nans(df):
    """
    This function takes a DataFrame and determines if there are NaN values. If there are NaN values, it returns a
    DataFrame that has the ratio of NaN values for each column, along with a bar graph showing the ratio of NaNs.
    """
    nan_counts = df.isnull().sum()
    total_rows = len(df)
    
    if nan_counts.sum() != 0:
        nan_ratio = nan_counts / total_rows * 100
        nan_df = pd.DataFrame({'Variables': nan_ratio.index, 'Ratio of Data Missing': nan_ratio.values})
        nan_df = nan_df[nan_df['Ratio of Data Missing'] > 0].sort_values(by='Ratio of Data Missing', ascending=False)
        
        # Plotting the NaN values
        fig, ax = plt.subplots(figsize=(10, 6))
        ax.bar(nan_df['Variables'], nan_df['Ratio of Data Missing'])
        plt.xticks(rotation=45, ha='right')
        ax.set_title('Missing Data of Covariate DataFrame')
        ax.set_ylabel('NaNs (%)')
        ax.grid(axis='y')
        plt.tight_layout()
        plt.show()
        
        return nan_df
    else:
        print("No NaNs found. Yay!")
        return None

In [212]:
plot_nans(covari)

No NaNs found. Yay!

### Creating seperate dataframes of covar that have Nans and that do not

In [213]:
covari_nans = covari
covari = covari.dropna()

In [214]:
covari

,date,PopulationName,lat,lon,biomass,salin,temp,cruisename,NO3NO2,PO4,Fe,SiO4,Satellite_CHL
0,2016-04-20 07:00:00,Prochlorococcus,21.520326,-158.326984,10.520443,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
1,2016-04-20 07:00:00,Synechococcus,21.520326,-158.326984,0.341429,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
2,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,3.338212,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
3,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,0.701902,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
4,2016-04-20 08:00:00,Prochlorococcus,21.662710,-158.323430,9.309387,34.902376,24.339265,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6896,2019-04-29 16:00:00,non_pro_syn,23.491830,-158.000200,1.678707,35.055113,24.506250,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6897,2019-04-29 17:00:00,Prochlorococcus,23.295040,-158.001120,6.017184,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6898,2019-04-29 17:00:00,Synechococcus,23.295040,-158.001120,0.558076,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6899,2019-04-29 17:00:00,non_pro_syn,23.295040,-158.001120,2.741156,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119
6900,2019-04-29 17:00:00,non_pro_syn,23.295040,-158.001120,1.548825,35.061772,24.780297,KM1906,5.329380e-07,0.339759,0.000076,11.717394,0.033119

##  Combining picoeuk and nanoeuk to one Population name (non_pro_syn)

In [215]:
covari['PopulationName'] = covari['PopulationName'].replace(
    {'nanoeukaryotes (2-5µm)': 'non_pro_syn', 'picoeukaryotes (< 2µm)': 'non_pro_syn'}
)

In [216]:
tn413

,PopulationName,date,lat,lon,cell_abundance,cell_diameter,NO3NO2,PO4,Fe,SiO4,Satellite_CHL,biomass,temp,salin
0,picoeuk,2023-02-25 05:40:00,21.306700,-157.036600,14.303231,1.557860,0.000562,0.212505,0.000433,2.092356,0.072018,6.716405,24.03829,34.93311
1,picoeuk,2023-02-25 05:50:00,21.314200,-157.032100,20.716981,1.576000,0.000562,0.212505,0.000433,2.092356,0.072018,10.023072,24.01350,34.92320
2,prochloro,2023-02-25 05:50:00,21.314100,-157.031633,64.269941,0.671474,0.000562,0.212505,0.000433,2.092356,0.072018,3.441297,24.01350,34.92320
3,picoeuk,2023-02-25 06:00:00,21.312300,-157.016800,22.590023,1.606258,0.000562,0.212505,0.000433,2.092356,0.072018,11.478879,23.98739,34.93976
4,prochloro,2023-02-25 06:00:00,21.312500,-157.019100,71.501965,0.678254,0.000562,0.212505,0.000433,2.092356,0.072018,3.929065,23.98739,34.93976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791,prochloro,2023-03-08 19:30:00,-8.781667,-180.452400,44.943551,0.549335,0.001317,0.313235,0.000020,2.038989,0.052806,1.433595,29.71862,35.29352
4792,synecho,2023-03-08 19:30:00,-8.790600,-180.456000,2.894701,0.868585,0.001317,0.313235,0.000020,2.038989,0.052806,0.301105,29.71862,35.29352
4793,picoeuk,2023-03-08 19:40:00,-8.799500,-180.459600,8.173275,1.539285,0.001317,0.313235,0.000020,2.038989,0.052806,3.720992,29.72274,35.28927
4794,prochloro,2023-03-08 19:40:00,-8.799500,-180.459600,42.654278,0.546215,0.001317,0.313235,0.000020,2.038989,0.052806,1.340725,29.72274,35.28927
4795,synecho,2023-03-08 19:40:00,-8.799500,-180.459600,3.064978,0.890396,0.001317,0.313235,0.000020,2.038989,0.052806,0.339885,29.72274,35.28927

## Combinging some of the senior cruise data to covariate

In [217]:
import pandas as pd

# Randomly sample 30% of rows from tn413 DataFrame
tn413['cruisename'] = 'TN413'
tn413.drop(['cell_abundance', 'cell_diameter'], axis=1, inplace=True)


stratum_column = 'lat'
sample_proportion = 0.3

# Calculate stratum sizes
stratum_sizes = (tn413.groupby(stratum_column).size() * sample_proportion).astype(int)

# Sample each group
sampled_groups = []
for group_name, group_data in tn413.groupby(stratum_column):
    sampled_group = group_data.sample(n=stratum_sizes[group_name])
    sampled_groups.append(sampled_group)

# concatenate sampled groups
stratified_sample = pd.concat(sampled_groups)

# Concatenate the sampled rows to covari DataFrame
model_data = pd.concat([covari, sampled_rows], ignore_index=True)

In [218]:
model_data

,date,PopulationName,lat,lon,biomass,salin,temp,cruisename,NO3NO2,PO4,Fe,SiO4,Satellite_CHL
0,2016-04-20 07:00:00,Prochlorococcus,21.520326,-158.326984,10.520443,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
1,2016-04-20 07:00:00,Synechococcus,21.520326,-158.326984,0.341429,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
2,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,3.338212,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
3,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,0.701902,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
4,2016-04-20 08:00:00,Prochlorococcus,21.662710,-158.323430,9.309387,34.902376,24.339265,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,2023-02-26 11:20:00,prochloro,20.791500,-157.702450,1.378268,34.947910,24.581220,TN413,7.313388e-04,0.198196,0.000347,2.046753,0.069791
7987,2023-03-08 04:10:00,picoeuk,-5.896500,-179.343700,11.849405,35.659010,29.075130,TN413,1.527741e-03,0.519499,0.000009,2.992112,0.088274
7988,2023-02-28 19:50:00,picoeuk,13.914000,-167.738300,4.722555,34.446510,26.227920,TN413,7.691157e-04,0.224454,0.000020,2.254536,0.045945
7989,2023-02-28 18:40:00,synecho,14.046300,-167.553600,0.087319,34.467610,26.286360,TN413,7.480014e-04,0.222924,0.000020,2.246549,0.046282
7990,2023-02-27 07:10:00,prochloro,18.572900,-161.059600,4.904599,34.903270,25.287630,TN413,6.757075e-04,0.185211,0.000137,1.982887,0.062230

In [219]:
#renaming these
model_data['PopulationName'] = model_data['PopulationName'].replace(
    {'nanoeukaryotes (2-5µm)': 'non_pro_syn', 'picoeukaryotes (< 2µm)': 'non_pro_syn',
    'picoeuk': 'non_pro_syn', 'synecho': 'non_pro_syn',
     'synecho': 'Synechococcus', 'prochloro':'Prochlorococcus'
    }
)
model_data.to_csv('/Users/cristianswift/Desktop/Spring-Quarter-2022-2023/SeniorThesis/data/model_data.csv', index=False)

In [220]:
model_data

,date,PopulationName,lat,lon,biomass,salin,temp,cruisename,NO3NO2,PO4,Fe,SiO4,Satellite_CHL
0,2016-04-20 07:00:00,Prochlorococcus,21.520326,-158.326984,10.520443,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
1,2016-04-20 07:00:00,Synechococcus,21.520326,-158.326984,0.341429,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
2,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,3.338212,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
3,2016-04-20 07:00:00,non_pro_syn,21.520326,-158.326984,0.701902,34.893785,24.351745,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
4,2016-04-20 08:00:00,Prochlorococcus,21.662710,-158.323430,9.309387,34.902376,24.339265,KOK1606,8.033585e-07,0.346238,0.000083,10.145326,0.035360
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,2023-02-26 11:20:00,Prochlorococcus,20.791500,-157.702450,1.378268,34.947910,24.581220,TN413,7.313388e-04,0.198196,0.000347,2.046753,0.069791
7987,2023-03-08 04:10:00,non_pro_syn,-5.896500,-179.343700,11.849405,35.659010,29.075130,TN413,1.527741e-03,0.519499,0.000009,2.992112,0.088274
7988,2023-02-28 19:50:00,non_pro_syn,13.914000,-167.738300,4.722555,34.446510,26.227920,TN413,7.691157e-04,0.224454,0.000020,2.254536,0.045945
7989,2023-02-28 18:40:00,Synechococcus,14.046300,-167.553600,0.087319,34.467610,26.286360,TN413,7.480014e-04,0.222924,0.000020,2.246549,0.046282
7990,2023-02-27 07:10:00,Prochlorococcus,18.572900,-161.059600,4.904599,34.903270,25.287630,TN413,6.757075e-04,0.185211,0.000137,1.982887,0.062230

In [221]:
# # convert the 'time' column to datetime format
# realtime['time'] = realtime['time'].str[:-1]
# realtime['time'] = pd.to_datetime(realtime['time'])

# # set the 'time' column as the index
# realtime.set_index('time', inplace=True)

# # resample the dataframe by hour and take the mean of each group
# realtime = realtime.resample('H').mean()

# # print the result
# realtime